html, body {
  background: white;
  font-family: sans-serif;
  margin:.3em;
}


.header {
  text-align: justify;
  vertical-align: top;
  padding: 1em;
  width:70%;
  margin:0 auto;
}

.header p{
  font-size:19px;
  font-family: sans-serif;
  display:block;
}

.column {
  margin: 0 auto !important;
  padding: 50px;
  margin-left: 125px !important;
}
.image1 {
  height:165px;
  width:145px;
}

.image2 {
  height:155px;
  width:135px;
}

.content-item {
  width:24%;
  float:left;
  height:175px;
  line-height: 175px;

}

.footer {
  text-align: center;
  clear:both;
  width:70%;
  margin: 10px auto;
}

.footer ul li {
  display:inline-block;
  font-size: 13px;
}
